apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
bootstrapTokens:
- token: "{{ bootstrap_token.stdout }}"
  description: "kubeadm bootstrap token"
  ttl: "24h"
nodeRegistration:
  criSocket: "unix:///var/run/containerd/containerd.sock"
---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
controllerManager:
  extraArgs:
  - name: bind-address
    value: "0.0.0.0" # Used by Prometheus Operator
scheduler:
  extraArgs:
  - name: bind-address
    value: "0.0.0.0" # Used by Prometheus Operator
controlPlaneEndpoint: "{{ master_ip }}:6443"
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: "systemd"
protectKernelDefaults: true